<!doctype html>
<head>
  <title>LIFEGAME</title>
</head>
<body>
  <table>
    {% for cs in b %}
    <tr>
      {% for c in cs %}
      <td>
        {{ c }}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  <a href="{{ url_for('lifegame', prev=s) }}">NEXT GENERATION</a>
  <br/>
  {{ tstp }}
</body>
